.p-button {
    background: #61297F;
    border-radius: 5px;
    outline: none;
    border: none;
}

.p-button:enabled:hover {
    background: #9262ac;
    border-radius: 5px;
    outline: none;
    border: none;
}


:host ::ng-deep .p-progressbar {
    background: #61297F;
    border-radius: 3px;
    color: #61297F;
    height: 0.4rem;
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
    background: #cbabdc;
}