<main id="main" class="main">
    <!-- <div class="pagetitle">
       <h1>Latest Uploads</h1>
    </div> -->
    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">
                 <div class="d-flex justify-content-between align-item-center mb-3">
                     <div class="d-flex gap-4 my-4">
                         <button pButton type="button" label="Upload Table" [disabled]="false"></button>
                         
                     </div>
                     <!-- <p>Total Tax Amount: XXX </p> -->
                 </div>
                <div class="col-12">
                   <div class="card top-selling overflow-auto">
                      <div class="card-body pb-0">
                         <!-- <table class="table table-borderless">
                         </table> -->
                         <p-table #dt 
                            [scrollable]="true"
                            [scrollHeight]="'512px'"
                            [loading]="isLoading"
                            [value]="users"
                            responsiveLayout="scroll"
                            [rowHover]="true" 
                            [paginator]="true"
                            [rows]="12" 
                            [scrollable]="true"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing page {first} of {last} pages" 
                            [rowsPerPageOptions]="[10,25,50]"
                            >
                                <ng-template pTemplate="loadingbody" let-columns="columns">
                                    <tr style="height:46px">
                                        <td *ngFor="let col of columns">
                                            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th  style="width:14.29%;text-align:center;white-space: nowrap">Reference </th>
                                        <th style="width:14.29%;text-align:center;white-space: nowrap">Description</th>
                                        <th style="width:13.29%;text-align:center;white-space: nowrap">Tax Id No</th>
                                        <th style="width:13.29%;text-align:center;white-space: nowrap">Invoice No</th>
                                        <th style="width:17.29%;text-align:center;white-space: nowrap">Transaction Amount</th>
                                        <th style="width:13.29%;text-align:center;white-space: nowrap">Tax Id</th>
                                        <th style="width:14.29%;text-align:center;white-space: nowrap">Other Info</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-user>
                                    <tr>
                                        <td style="width:14.29%;text-align:center;white-space: nowrap">{{user.record_reference}}</td>
                                        <td style="width:14.29%;text-align:center;white-space: nowrap">{{user.description}}</td>
                                        <td style="width:13.29%;text-align:center;white-space: nowrap">{{user.tax_id_no}}</td>
                                        <td style="width:13.29%;text-align:center;white-space: nowrap">{{user.invoice_no}}</td>
                                        <td style="width:17.29%;text-align:center;white-space: nowrap">{{user.transaction_amount}}</td>
                                        <td style="width:13.29%;text-align:center;white-space: nowrap">{{user.tax_id}}</td>
                                        <td style="width:14.29%;text-align:center;white-space: nowrap">{{user.other_info}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-user let-columns="columns">
                                    <tr class="d-flex justify-content-center align-items-center my-4">No data found </tr>
                                </ng-template>
                        </p-table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
         
       </div>
    </section>
 </main>
