.p-button {
    background: #61297F;
    border-radius: 5px;
    outline: none;
    border: none;
}

.p-button:enabled:hover {
    background: #9262ac;
    border-radius: 5px;
    outline: none;
    border: none;
}

:host ::ng-deep .p-datatable .p-datatable-loading-overlay  {
    background: transparent;
}

:host ::ng-deep .pi-spinner:before{
    color: gray;
    font-size: 2rem
}