.p-button {
    background: #61297F;
    border-radius: 5px;
    outline: none;
    border: none;
}

.p-button:enabled:hover {
    background: #9262ac;
    border-radius: 5px;
    outline: none;
    border: none;
}

:host ::ng-deep .p-datatable .p-datatable-loading-overlay  {
    background: transparent;
}
section {
    display:flex;
    flex-direction:column
  }



:host ::ng-deep .pi-spinner:before{
    color: rgb(210, 201, 201);
    font-size: 1.9rem;
    margin-top: 10rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.79rem 1rem;
    text-align: center;
}