
   <main id="main" class="main">
      <div class="pagetitle">
         <h1>Downloads</h1>
      </div>
      <section class="section dashboard">
         <div class="row">
            
            <div class="col-lg-12">
               <div class="row">
                  <div class="col-12">
                     <!-- <div class="card top-selling overflow-auto">
                        <div class="card-body pb-0">
                           <h5 class="card-title">List of Downloads <span>| Remittances</span></h5>
                           <table class="table table-borderless">
                             
                           
                           </table>
                        </div>
                     </div> -->
                     <section >

                           <textarea pInputTextarea placeholder="Enter Description" class="my-textarea"></textarea>
                           <div class="dropdown">
                              <div class="d-flex align-content-center">
                                 <label class="py-2" style="padding-right: 0.5rem; font-size: 16px;" for="">Select Month & Year: </label>
                                 <p-calendar [(ngModel)]="dateValue" icon="pi pi-caret-down" view="month" placeholder="Select Date" dateFormat="mm/yy"></p-calendar>
                              </div>
                           </div>
                           <div class="rowone">
                             
                              <button pButton type="button" label="Download" class="download-btn" (click)="download()" ></button>
                              <button pButton type="button" label="View Remittance" class="view-btn" (click)="navigateToHistory()" ></button>
                              <!-- <p class="inline download">Downloading <span>5 of 7,890,789</span></p> -->
                           </div>
                    </section>
                    <!-- <p-progressBar class="mt-3" [value]="percentDone"></p-progressBar> -->
                  </div>
               </div>
            </div>
           
         </div>
      </section>
   </main>
   
